<div class="bg-white rounded-lg shadow-lg p-6">
  <h2 class="text-2xl font-bold mb-4">The ESLAC Team</h2>
  <img src="assets/images/our_mission.jpg" alt="Mission" class="rounded-t-lg">
  <p class="mb-4">At ESLAC, we are a multilingual and multidisciplinary team.</p>
  <p class="mb-4">Our team of Experts in specific subjects are also excellent communicators who transmit you their
    passion to succeed.</p>
  <p>Administration, Logistics, Tech staff are all committed to one thing: facilitate your success.</p>
  <button routerLink="/team" class="mt-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">
    Learn More
  </button>
</div>