<div class="bg-white rounded-lg shadow-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Our Mission</h2>
  <img src="assets/images/our_mission.jpg" alt="Mission" class="rounded-t-lg">
  <div class="prose">
    <p class="mb-4">Our mission is threefold:</p>
    <ul class="list-disc pl-5 space-y-2">
      <li>Training offer that combines Acquisition/Development of excellent knowledge and positive character for and
        immediate impact.</li>
      <li>Make available in Abidjan world class level Training and Certifications.</li>
      <li>Facilitate a global success in our clients par helping them acquire the mental tool and the knowledge they
        need to succeed.</li>
    </ul>
    <button routerLink="/mission" class="mt-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">
      Learn More
    </button>
  </div>
</div>